<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title m-0 font-weight-bold text-primary" id="exampleModalLabel">Exclusão de @Model</h6>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Você confirma a exclusão do item <b id="modal-item"></b>?</div>
            <div class="modal-footer text-center">
                <a class="btn btn-success btn-sm" id="modal-url">CONFIRMAR</a>
                <a class="btn btn-danger btn-sm list-delete" href="#" type="button"
                   data-dismiss="modal" aria-label="Close">
                    CANCELAR
                </a>
            </div>
        </div>
    </div>
</div>